{% extends 'base.html' %}
{% load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% block title %}Новая статья{% endblock %}
{% block head %}{% endblock %}
{% block content %}
    <section class="content-header pb-0">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h4 class="mb-0">Новая статья</h4>
                </div>
            </div>
            <hr style="border-top: 1px solid darkgrey;">
        </div>
        <!-- /.container-fluid -->
    </section>
    <section class="content">
        <div class="card card-primary card-outline card-success ps-3">
            <div class="card-header p-0 border-bottom-0"></div>
            <div class="card-body p-2">
                <form action="{% url 'article_payment_create' %}"
                      method="post"
                      id="article-form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6 col-12">{% bootstrap_form form layout='vertical' %}</div>
                    </div>
                    <div class="col-ms-6 col-12 text-right">
                        {% bootstrap_button 'Отменить' button_class='btn-default' button_type='reset' %}
                        {% bootstrap_button 'Сохранить' button_class='btn-success' button_type='submit' %}
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"
            integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"></script>
    <script>
        $('#article-form').validate({
            errorClass: 'error fail-alert',
            validClass: 'valid success-alert',
            ignore: '.ignore',
            rules: {
                'title': {
                    required: true,
                },
            },
            messages: {
                'title': {
                    required: 'Обязательно укажите заголовок!'
                }
            }
        })
    </script>
{% endblock %}
