{% extends 'base.html' %}
{% load static %}
{# Load the tag library#}
{% load django_bootstrap5 %}
{# Load CSS and JavaScript#}
{% bootstrap_css %}
{% bootstrap_javascript %}
{# Display django.contrib.messages as Bootstrap alerts#}
{% bootstrap_messages %}
{# Read the documentation for more information#}
{% load check_relation %}
{% block title %}Новый тариф{% endblock %}
{% block content %}
    <section class="content">
        <!-- Default box -->
        <div class="card card-primary card-outline card-success ps-3">
            <div class="card-header p-0 border-bottom-0"></div>
            <div class="card-body p-2">
                <form method="post" action="{% url 'tariff_create' %}">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-lg-7 col-12">{% bootstrap_form tariff_form layout='vertical' %}</div>
                        <div class="col-lg-7 col-12">
                            {{ tariff_service_formset.management_form }}
                            {{ service_formset.management_form }}
                            <div class="service__select d-none">
                                {% for service_form in service_formset %}
                                    <option value={{ service_form.id.value }}>{{ service_form.title.value }}
                                    </option>
                                {% endfor %}
                            </div>
                            <button type="button" class="btn btn-default add__tariff-service">Добавить услугу</button>
                        </div>
                    </div>
                    <div class="col-sm-6 col-12 text-right">
                        {% bootstrap_button "Отменить" button_type="reset" button_class="btn-default" %}
                        {% bootstrap_button "Сохранить" button_type="submit" button_class="btn-success" %}
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
{% block script %}
    <script type="module"
            src="{% static 'admin_panel/system_settings/tariffs/tariff_logic.js' %}"></script>
{% endblock %}
